<!--This code was added to add a boilerplace to all the viwes using mate EJS. The boilerplate that all the pages will have is listed under the layouts folder-->

<% layout('/layouts/boilerplate')%>
        
          <!-- This form was created to post a new event-->
<!--added basic style with Bootstrap to improve the appearance of the new event form-->
<div class="row">
    <h1 class="text-center">New Event</h1>
    <div class="col-6 offset-3">
        <form action="/events" method="POST">
            <!--added margin bottom to both divs-->
            <div class="mb-3">
            <!--Added the bootstrap class to improve the appearance of the forms-->
                <labe class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="event[title]">
            </div>
            <!-- This is the same form but for location-->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="event[location]">
            </div>

            <!-- This is the same form but to add an Image for the new Event-->
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="event[image]">
            </div>

            <!-- This is the same form but to add a Price for the new Event-->
            <div class="mb-3">
                <label class="form-label" for="price">Event Price</label>
                  <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price">
                  </div>
            </div>
            <!-- This is the same form but to add a description for the new Event-->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="event[description]" placeholder="Please enter the EVENT DATE and TIME here."></textarea>
            </div>

        <!--This button is to add the new Event-->
        <!--Added some margin around the button-->
        <div class="mb-3">
            <button class="btn btn-success">Add New Event</button>
        </div>
    </form>

    <a href="/events"> Back to All Events</a>
</div>
