
<!--created the footer partial that will be added to all the views-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <!--Added the copyright logo and change the color of the footer with the bootstrap 5 color classes-->
        <span class="text-secondary"> &copy; Eventify 2023</span>
    </div>
</footer>